<%- include ("./partials/header") %> 

<div class="container">
    <h1>Welcome to FetchWoo!</h1>
    <a href="test" class="btn">Test</a>
    <a href="retrieve" class="btn">Retrieve</a>
</div>

<%- include ("./partials/footer") %> 
